langgraph
streamlit
langchain
jsonschema
pydantic
python-dotenv
langfuse
langchain_google_genai
json_repair
genson
duckdb
datasets


#https://langchain-ai.github.io/langgraph/how-tos/graph-api/#combine-control-flow-and-state-updates-with-command